@import '~antd/dist/antd.css';
.logo {
  float: left;
  text-align: center;
  width: 120px;
  color: #fff;
  font-size: 20px;
}
html,body{
  height: 100%;
}
#root,.App{
  height: 100%;

}
.loginWrap {
  height: 100%;
  background: url(./assets/imgs/login_bg.jpg);
  background-size: 100% 100%;
}
.loginForm{
    width: 500px;
    border-radius: 5px;
    margin: 0 auto;
    height: 300px;
    background-color: #fff;
    padding: 40px 30px;
    position: relative;
    top: 25%;
}